<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <title>网站后台管理</title>

    <meta name="keywords" content="mv3c" />
    <meta name="description" content="mv3c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<!-- basic styles -->

<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="../assets/css/font-awesome.min.4.1.css" />
<!-- page specific plugin styles -->

<!-- ace styles -->

<link rel="stylesheet" href="../assets/css/ace.min.css" />
<link rel="stylesheet" href="../assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="../assets/css/ace-skins.min.css" />

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script type="text/javascript" src="../../lib/jq/jquery-1.10.2.min.js" ></script>
<script src="../assets/js/ace-extra.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/typeahead-bs2.min.js"></script>
<!-- page specific plugin scripts -->
<script src="../assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="../assets/js/bootbox.min.js"></script>
<script src="../assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="../assets/js/jquery.gritter.min.js"></script>
<script src="../assets/js/spin.min.js"></script>

<!-- ace scripts -->
<script src="../assets/js/ace-elements.min.js"></script>
<script src="../assets/js/ace.min.js"></script>

<script type="text/javascript" src="../../lib/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="../../lib/uploadify/uploadify.css" />

<script type="text/javascript">
    $(function($) {
        $('[data-rel=tooltip]').tooltip();
    })
</script>

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-cogs"></i>
                    MV3C网站管理后台
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">


        <div class="sidebar" id="sidebar">

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="page-content">
                <!--cc-->
                <div class="row"><div class="col-xs-12"><div class="tabbable">

                    <ul class="nav nav-tabs" id="myTab">
                        <li><a href="{$D}/{$C}/{$M}/m?pid={$pid}"><i class="green fa fa-list bigger-110"></i> {$menu_m}</a></li>
                        <li><a href="{$D}/{$C}/{$M}/page_add?pid={$pid}"><i class="green fa fa-floppy-o bigger-110"></i> {$menu_page_add}</a></li>
                        <li class="active"><a href="#"><i class="green fa fa-floppy-o bigger-110"></i> {$menu_page_edit}</a></li>
                    </ul>

                    <div class="hr hr-dotted"></div>

                    <form method="post" class="form-horizontal" role="form" action="{$D}/{$C}/{$M}/page_edit_op?id={$id}&pid={$pid}{$para}">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >类别</label>

                            <div class="col-sm-9">
                                <input name="pnm" value="{$pnm}" readonly type="text" class="col-xs-10" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >名称（中文）</label>

                            <div class="col-sm-9">
                                <input name="tit" value="{$tit}" type="text" class="col-xs-10" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >名称（英文） </label>

                            <div class="col-sm-9">
                                <input name="tit_en" value="{$tit_en}" type="text" class="col-xs-10">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 位置</label>

                            <div class="col-sm-9">
                                <input name="seat" value="{$seat}" type="text" class="col-xs-10" placeholder="格式：1-100">
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 缩略图（下方） </label>
                            <div class="col-sm-9" id="img">
                                <script>
                                    $(function(){
                                        new PekeUP({
                                            type:"img",
                                            id:"img",
                                            name:"缩略图（下方）",
                                            size:1,
                                            checkWH:{w:150, h:96},
                                            edit:"{$img}",
                                            editUrl:"{$D}/uploads/page2/",
                                            url:"{$D}/{$C}/{$M}/ImgUpload",
                                            delUrl:"{$D}/{$C}/{$M}/DelCache"
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 图片（中间） </label>
                            <div class="col-sm-9" id="pic">
                                <script>
                                    $(function(){
                                        new PekeUP({
                                            type:"img",
                                            id:"pic",
                                            name:"图片（中间）",
                                            size:1,
                                            checkWH:{w:730, h:400},
                                            edit:"{$pic}",
                                            editUrl:"{$D}/uploads/page2/",
                                            url:"{$D}/{$C}/{$M}/ImgUpload",
                                            delUrl:"{$D}/{$C}/{$M}/DelCache"
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 概况（中文） </label>

                            <div class="col-sm-9">
                                <textarea name="info1" id="info1" rows="10" cols="80">{$info1}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info1' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 概况（英文） </label>

                            <div class="col-sm-9">
                                <textarea name="info1_en" id="info1_en" rows="10" cols="80">{$info1_en}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info1_en' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 触点材料的选择（中文） </label>

                            <div class="col-sm-9">
                                <textarea name="info2" id="info2" rows="10" cols="80">{$info2}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info2' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 触点材料的选择（英文） </label>

                            <div class="col-sm-9">
                                <textarea name="info2_en" id="info2_en" rows="10" cols="80">{$info2_en}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info2_en' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 我们的产品（中文） </label>

                            <div class="col-sm-9">
                                <textarea name="info3" id="info3" rows="10" cols="80">{$info3}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info3' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 我们的产品（英文） </label>

                            <div class="col-sm-9">
                                <textarea name="info3_en" id="info3_en" rows="10" cols="80">{$info3_en}</textarea>
                                <script>
                                    CKEDITOR.replace( 'info3_en' );
                                </script>
                            </div>
                        </div>


                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit"><i class="icon-ok bigger-110"></i> 提 交</button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset"><i class="icon-undo bigger-110"></i> 重 置</button>
                            </div>
                        </div>
                    </form>
                </div></div></div>
                <!--cc-->
            </div>
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

</body>
</html>
